<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.example.core.mapper.StudentMapper">

    <sql id="BASE_SELECT_COLUMN">
        id,
        name,
        age
    </sql>

    <select id="listStudent" resultType="com.boot.example.core.entity.StudentEntity">
        SELECT
            <include refid="BASE_SELECT_COLUMN"/>
        FROM
            student
    </select>
</mapper>